# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Logs
*.log

node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
